<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div class="container">
    <table class="table">
        <thead>
            <th><span th:text="#{label.user.id}" /></th>
            <th><span th:text="#{label.user.login}"/></th>
            <th><span th:text="#{label.user.firstName}"/></th>
            <th><span th:text="#{label.user.lastName}"/></th>
            <th><span th:text="#{label.user.email}"/></th>
            <th><span th:text="#{label.user.roles}"/></th>
        </thead>
        <tbody>
        <tr th:each="portalUser:${portalUserPage.content}">
            <td th:text="${portalUser.portalUserID}" />
            <td th:text="${portalUser.portalUserLogin}" />
            <td th:text="${portalUser.portalUserFirstName}"/>
            <td th:text="${portalUser.portalUserLastName}"/>
            <td th:text="${portalUser.portalUserEmail}"/>
            <td>
                <span th:each="role, iterStat : ${portalUser.roles}" th:text="!${iterStat.last} ? ${role.roleName} + ',': ${role.roleName}">
            </span></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${portalUserPage.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/users(page=${pageNumber},size=${size})}"
           th:text="${pageNumber}"></a>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>