<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="portalUser:${portalUserPage.content}">
        <td th:text="${portalUser.portalUserID}" />
        <td th:text="${portalUser.portalUserLogin}" />
        <td th:text="${portalUser.portalUserFirstName}"/>
        <td th:text="${portalUser.portalUserLastName}"/>
        <td th:text="${portalUser.portalUserEmail}"/>
        <td>
            <span th:each="role, iterStat : ${portalUser.roles}" th:text="!${iterStat.last} ? ${role.roleName} + ',': ${role.roleName}">
        </span></td>
    </tr>
    </tbody>
</table>
<div th:if="${portalUserPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/users(page=${pageNumber},size=${size})}"
       th:text="${pageNumber}"></a>
</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>